body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

.container {
    width: 250px;
    background: rgb(252, 253, 253);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1{
    color: rgb(80, 147, 100);
    margin-top: 10px;
    margin-bottom: 0;
}
.clock { 
    font-size: 2em; margin: 20px; 
}


.status-box { 
    margin-top: 20px;
    background-color: rgb(215, 248, 220);
    padding: 10px 20px;
    border-radius: 6px;
}
button { 
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
    color: white; 
}
#startWork { 
    background-color:  rgb(103, 173, 103); 
    color: white; 
    height: 100px;
    width: 130px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
#breakBtn { 
    font-size: 15px;
    height: 40px;
    width: 130px;
    border-radius: 15px;
    background-color: orange; 
    color: white; 
}
#restore { 
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgb(160, 7, 7);
    color: white; 
}

footer{
    font-size: 9px;
    text-align: center;
    color: #697969;
}
